schema-repo/src/test/resources/files/petstore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:org.polyglotted.schemarepo/petstore" elementFormDefault="qualified"
    attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pps="urn:org.polyglotted.schemarepo/petstore">

    <!-- TODO attribute groups -->
    <xs:attribute name="version" type="xs:string" fixed="1.0.1" />

    <xs:simpleType name="catid">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse" />
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="email">
        <xs:restriction base="xs:string">
            <xs:pattern value="[_A-Za-z0-9-]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})">
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="productid">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse" />
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="itemid">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse" />
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="userid">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse" />
            <xs:maxLength value="80" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="orderid">
        <xs:restriction base="xs:int">
            <xs:whiteSpace value="collapse" />
            <xs:minExclusive value="0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="suppid">
        <xs:restriction base="xs:int">
            <xs:whiteSpace value="collapse" />
            <xs:minExclusive value="0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="linenum">
        <xs:restriction base="xs:int">
            <xs:whiteSpace value="collapse" />
            <xs:minExclusive value="0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="price">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="10" />
            <xs:fractionDigits value="2" />
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="status">
        <xs:annotation>
            <xs:documentation>Status only for orders and lineitems</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="not_started" />
            <xs:enumeration value="in_progress" />
            <xs:enumeration value="packed" />
            <xs:enumeration value="shipped" />
            <xs:enumeration value="delivered" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar5">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse" />
            <xs:maxLength value="5" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Supplier">
        <xs:sequence>
            <xs:element name="suppid" type="pps:suppid" />
            <xs:element name="name" type="xs:string" minOccurs="0" />
            <xs:element name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="evaluation" />
                        <xs:enumeration value="approved" />
                        <xs:enumeration value="rejected" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="addr1" type="xs:string" minOccurs="0" />
            <xs:element name="addr2" type="xs:string" minOccurs="0" />
            <xs:element name="city" type="xs:string" minOccurs="0" />
            <xs:element name="state" type="xs:string" minOccurs="0" />
            <xs:element name="zip" type="pps:varchar5" minOccurs="0" />
            <xs:element name="phone" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Profile">
        <xs:all>
            <xs:element name="userid" type="pps:userid" />
            <xs:element name="favCategory" type="pps:userid" />
        </xs:all>
        <xs:attribute name="langpref" type="xs:string" fixed="en_US" />
        <xs:attribute name="listopt" type="xs:boolean" default="true" />
    </xs:complexType>

    <xs:complexType name="Account">
        <xs:sequence>
            <xs:element name="userid" type="pps:userid" />
            <xs:element name="email" type="pps:email" />
            <xs:element name="firstname" type="xs:string" />
            <xs:element name="lastname" type="xs:string" />
            <xs:element name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="active" />
                        <xs:enumeration value="disabled" />
                        <xs:enumeration value="deleted" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="addr1" type="xs:string" minOccurs="0" />
            <xs:element name="addr2" type="xs:string" minOccurs="0" />
            <xs:element name="city" type="xs:string" minOccurs="0" />
            <xs:element name="state" type="xs:string" minOccurs="0" />
            <xs:element name="country" type="xs:string" minOccurs="0" />
            <xs:element name="zip" type="pps:varchar5" minOccurs="0" />
            <xs:element name="phone" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Category">
        <xs:sequence>
            <xs:element name="catid" type="pps:catid" />
            <xs:element name="name" type="xs:string" minOccurs="0" />
            <xs:element name="icon" type="xs:string" minOccurs="0" />
            <xs:element name="descn" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Product">
        <xs:sequence>
            <xs:element name="productid" type="pps:productid" />
            <xs:element name="category" type="pps:catid" />
            <xs:element name="name" type="xs:string" minOccurs="0" />
            <xs:element name="icon" type="xs:string" minOccurs="0" />
            <xs:element name="descn" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Item">
        <xs:sequence>
            <xs:element name="itemid" type="pps:itemid" />
            <xs:element name="productid" type="pps:productid" />
            <xs:element name="listprice" type="pps:price" />
            <xs:element name="unitcost" type="pps:price" />
            <xs:element name="supplier" type="pps:suppid" minOccurs="0" />
            <xs:element name="status" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="in_stock" />
                        <xs:enumeration value="out_of_stock" />
                        <xs:enumeration value="discontinued" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="attr" type="xs:string" minOccurs="0" maxOccurs="5" />
            <xs:element name="inventory" type="pps:Inventory" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Inventory">
        <xs:attribute name="itemid" type="pps:itemid" use="required" />
        <xs:attribute name="qty" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="expiry" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:dateTime">
                    <xs:minInclusive value="2013-06-01T00:00:00Z" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Order">
        <xs:sequence>
            <xs:element name="orderid" type="pps:orderid" />
            <xs:element name="userid" type="pps:userid" />
            <xs:element name="orderdate" type="xs:date" />
            <xs:element name="status" type="pps:status" />
            <xs:element name="shipaddr1" type="xs:string" />
            <xs:element name="shipaddr2" type="xs:string" />
            <xs:element name="shipcity" type="xs:string" />
            <xs:element name="shipstate" type="xs:string" />
            <xs:element name="shipzip" type="xs:string" />
            <xs:element name="shipcountry" type="xs:string" />
            <xs:element name="billaddr1" type="xs:string" />
            <xs:element name="billaddr2" type="xs:string" />
            <xs:element name="billcity" type="xs:string" />
            <xs:element name="billstate" type="xs:string" />
            <xs:element name="billzip" type="xs:string" />
            <xs:element name="billcountry" type="xs:string" />
            <xs:element name="courier" type="xs:string" />
            <xs:element name="totalprice" type="pps:price" />
            <xs:element name="shiptofirstname" type="xs:string" />
            <xs:element name="shiptolastname" type="xs:string" />
            <xs:element name="billtofirstname" type="xs:string" />
            <xs:element name="billtolastname" type="xs:string" />
            <xs:element name="creditcard" type="xs:string" />
            <xs:element name="exprdate" type="xs:date" />
            <xs:element name="cardtype" type="xs:string" />
            <xs:element name="locale" type="xs:string" />
            <xs:element name="lineitem" type="pps:LineItem" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LineItem">
        <xs:annotation>
            <xs:documentation>Every line in the order with a new item is considered a line item</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="orderid" type="pps:orderid" />
            <xs:element name="linenum" type="pps:linenum" />
            <xs:element name="itemid" type="pps:itemid" />
            <xs:element name="quantity">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="unitprice" type="pps:price" />
            <xs:element name="orderstatus">
                <xs:complexType>
                    <xs:attribute name="orderid" type="pps:orderid" use="required" />
                    <xs:attribute name="linenum" type="pps:linenum" use="required" />
                    <xs:attribute name="timestamp" type="xs:dateTime" use="required" />
                    <xs:attribute name="status" type="pps:status" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>